<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
    
</head>

<body>
    <div class="container">
        <h1>Todo List</h1>
       <form action="/" method="POST">
        <input type="text" name="todoValue" id="" placeholder="Add todo">
        <button type="submit">Add</button>
       </form>
       <% if(data){ %>
         <% data.forEach(todoValue=>{ %>
         <div class="todo-container">
            <div class="todo-list"><%= todoValue.todo %></div>
         </div>
         <% }) %>
       <%} %>
       
    </div>

</body>

</html>